@font-face {
    font-family: 'Raleway-Black', sans-serif;
    src: url("/fonts/Raleway-Black.woff2") format("woff2");
}

@font-face {
    font-family: 'Raleway-ExtraLight', sans-serif;
    src: url("/fonts/Raleway-ExtraLight.woff2") format("woff2");
}


@font-face {
    font-family: 'Raleway-Regular', sans-serif;
    src: url("/fonts/Raleway-Regular.woff2") format("woff2");
}


@font-face {
    font-family: 'Raleway-SemiBold', sans-serif;
    src: url("/fonts/Raleway-SemiBold.woff2") format("woff2");
}

h2{
    font-family: 'Raleway-Black', sans-serif;
}

body{
    font-family: 'Raleway-ExtraLight', sans-serif;
}


