@media (min-width:320px){
	
  footer{
	padding-top: 50px;
	padding-bottom: 15px;
}

	.social-list{
		display: flex;
		justify-content: space-around;
	}

	.social-list li{
		display: flex;
		justify-content: center;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		position: relative;
	}

	.pornhub__alert--none{
	display: none;
	}

	.pornhub__alert--show{
		display: block;
		position: absolute;
		width: 248px;
		height: 125px;
		background-color: rgba(0, 0, 0, 0.7);
		top: -125px;
		right: 0px;
		text-align: center;
		color: white;
	}
  
	.pornhub__alert--show h4{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.pornhub__alert--show p{
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.pornhub__button{
		width: 45px;
		height: 35px;
		margin-top: 10px;
	}

	.pornhub__button--yes{
		margin-right: 65px;
	}

	.onlyfans__alert--none{
		display: none;
	}

	.onlyfans__alert--show{
		display: block;
		position: absolute;
		width: 240px;
		height: 125px;
		background-color: rgba(0, 0, 0, 0.7);
		top: -125px;
		left: 0px;
		text-align: center;
		color: white;
	}

	.onlyfans__alert--show h4{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.onlyfans__alert--show p{
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.onlyfans__button{
		width: 45px;
		height: 35px;
		margin-top: 10px;
	}

	.onlyfans__button--yes{
		margin-right: 65px;
	}

}


@media (min-width:640px){

.social-list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

}