@media (min-width:320px){

	header{
		position: sticky;
	}

	.main-nav{
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header-logo{
		width: 64px;
		height: 64px;
		padding-left: 10px;
		background-image: url(../img/icon__eye--64px.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	.header-logo:hover,
	.header-logo:focus,
	.header-logo:active{
		background-image: url(../img/icon__eye--64px-blur.png);
	}


	.main-nav__list{
		display: flex;
		justify-content: flex-end;
		margin-right: 10px;
	}

	.main-nav__item{
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
	}

}

@media (min-width:640px) {


	.header-logo{
		margin-left: 20px;
	}

	.main-nav{
		padding-top: 0;
	}

	.main-nav__item{
		margin-right: 20px;
	}
	.main-nav__link{
		text-transform: uppercase;
	}


}

