@media (min-width:320px){

	header{
		position: sticky;
	}

	.main-nav{
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header-logo{
		width: 64px;
		height: 64px;
		padding-left: 10px;
		background-image: url(../img/icon__eye--64px.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	.header-logo:hover,
	.header-logo:focus,
	.header-logo:active{
		background-image: url(../img/icon__eye--64px-blur.png);
	}


	.main-nav__list{
		display: flex;
		justify-content: flex-end;
		margin-right: 10px;
	}

	.main-nav__item{
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		position: relative;
	}

	.main-nav__item:first-child::after{
		content: "";
		width: 42px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
		display: none;
	}
	.main-nav__item:first-child:focus::after,
	.main-nav__item:first-child:hover::after{
		display: block;
	}
	.main-nav__item:nth-child(2)::after{
		content: "";
		width: 53px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
		display: none;
	}
	.main-nav__item:nth-child(2):focus::after,
	.main-nav__item:nth-child(2):hover::after{
		display: block;
	}
	.main-nav__item:nth-child(3)::after{
		content: "";
		width: 75px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
		display: none;
	}
	.main-nav__item:nth-child(3):focus::after,
	.main-nav__item:nth-child(3):hover::after{
		display: block;
	}
	.main-nav__item:nth-child(4)::after{
		content: "";
		width: 60px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
		display: none;
	}
	.main-nav__item:nth-child(4):focus::after,
	.main-nav__item:nth-child(4):hover::after{
		display: block;
	}

	.main-nav__item--active-web::before{
		content: "";
		width: 42px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
	}

	.main-nav__item--active-photo::before{
		content: "";
		width: 53px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
	}
	.main-nav__item--active-sandbox::before{
		content: "";
		width: 75px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
	}

	.main-nav__item--active-advice::before{
		content: "";
		width: 60px;
		height: 2px;
		background-color: black;
		position: absolute;
		bottom: 3px;
		left: 0;
	}
}


@media (min-width:640px) {


	.header-logo{
		margin-left: 20px;
	}

	.main-nav{
		padding-top: 0;
	}

	.main-nav__item{
		margin-right: 20px;
	}
	.main-nav__link{
		text-transform: uppercase;
	}

	.main-nav__item:first-child:focus::after,
	.main-nav__item:first-child:hover::after{
		display: block;
		width: 50px;
	}

	.main-nav__item:nth-child(2):focus::after,
	.main-nav__item:nth-child(2):hover::after{
		display: block;
		width: 71px;
	}
	.main-nav__item:nth-child(3):focus::after,
	.main-nav__item:nth-child(3):hover::after{
		display: block;
		width: 94px;
	}

	.main-nav__item:nth-child(4):focus::after,
	.main-nav__item:nth-child(4):hover::after{
		display: block;
		width: 74px;
	}

	.main-nav__item--active-web::before{
		width: 50px;
	}
	.main-nav__item--active-photo::before{
		width: 71px;
	}
	.main-nav__item--active-sandbox::before{
		width: 94px;
	}
	.main-nav__item--active-advice::before{
		width: 74px;
	}


}

