@media (min-width:320px) {

		

	.page-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.page-list__item{
		min-height: 200px;
		padding-top: 30px;
		margin: 0 auto;
		position: relative;
	}

	.page-list__item::after{
		content: "";
		width: 112px;
		height: 2px;
		background-color: black;
		position: absolute;
		left: 30%;
		bottom: -7px;
	}

	.page-list__link{
		width: 200px;
		padding-right: 50px;
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.page-list__link--web{
		padding-top: 85px;
		background-image: url(../img/icon__web--64px.png);
		background-position-x: center;
		background-position-y: 0;
		background-repeat: no-repeat;
	}

	.page-list__link--web:hover,
	.page-list__link--web:focus,
	.page-list__link--web:active{
	background-image: url(../img/icon__web.--64px-blur.png);
	font-size: 16.5px;
}

	.page-list__link--photo{
		padding-top: 85px;
		background-image: url(../img/icon__photocamera--64px.png);
		background-position-x: center;
		background-position-y: 0;
		background-repeat: no-repeat;
	}

	.page-list__link--photo:hover,
	.page-list__link--photo:focus,
	.page-list__link--photo:active{
	background-image: url(../img/icon__photocamera--64px--blur.png);
	font-size: 16.5px;
}

	.page-list__link--sandbox{
		padding-top: 85px;
		background-image: url(../img/icon__sandbox--64px.png);
		background-position-x: center;
		background-position-y: 0;
		background-repeat: no-repeat;
	}

	.page-list__link--sandbox:hover,
	.page-list__link--sandbox:focus,
	.page-list__link--sandbox:active{
		background-image: url(../img/ico__sandbox--64px-blur.png);
		font-size: 16.5px;
	}

	.page-list__link--advice{
		padding-top: 85px;
		background-image: url(../img/icon__advice--64px.png);
		background-position-x: center;
		background-position-y: 0;
		background-repeat: no-repeat;
	}

	.page-list__link--advice:hover,
	.page-list__link--advice:focus,
	.page-list__link--advice:active{
		background-image: url(../img/icon__advice--64px-blur.png);
		font-size: 16.5px;
	}

	.page-list__link h1{
		margin: 0px;
		padding: 10px;
	}

	.page-list__link p{
		text-align: center;
		margin: 0;
		padding: 7px;
	}

	.gallery-wrapper{
		display: none;
	}

	.social-list{
		padding-top: 40px;
	}

}



@media (min-width:640px) {

	.page-list{
		flex-direction: row;
	  justify-content: space-around;
}

.page-list__item{
	min-height: 230px;
	min-width: 150px;
	display: flex;
	margin-top:20px ;
}

.page-list__item::after{
	display: none;
}

.page-list__item:first-child{
	margin-left: 20px;
}
.page-list__item:last-child{
	margin-right: 20px;
}
.page-list__item p,
.page-list__item h1{
	text-align: center;
}

.page-list__link{
	padding-left: 0;
	padding-right: 0;
}


}

@media (min-width:960px) {

	.page-list__item{
		min-height: 0;
	}

	.page-list__link{
		width: 250px;
		min-height: 165px;
		justify-content: center;
	}

	.page-list__link--photo,
	.page-list__link--web,
	.page-list__link--sandbox,
	.page-list__link--advice{
		padding-top: 75px;
	}		

	#slider-button__prev{
		left: 240px;
	}
	#slider-button__next{
		right: 240px;
	}
	
}
	

	

