
.trigger {
    display: none;
}

.gallery-wrapper {
    position: relative;
    height: 450px;
}

.gallery {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.gallery__img {
    filter: brightness(50%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
}

.gallery__figure {
    height: 100%;
    position: relative;
    margin: 0;
}

.gallery__caption {
    position: absolute;
    top: 70%;
    color: white;
}


.gallery__caption--taped p {
    display: inline;
    padding: .25rem .5rem;
    line-height: 1.75;
    background-color: rgba(0, 0, 0, 0.5);
}

.trigger:checked + .gallery {
    z-index: 6000;
    opacity: 1;
}

.slider-nav {
    position: absolute;
    z-index: 7000;
    text-align: center;
    bottom: 1rem;
}

.slider-nav__item {
    display: inline-block;
}

.slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label--invert {
    background-color: red;
    color: white;
}

.slider-nav__label--invert:hover,
.slider-nav__label--invert:active,
.slider-nav__label--invert:focus {
    background-color: white;
    color: red;
}

.slider-nav__label--dot {
    height: .75rem;
    width: .75rem;
    text-indent: -99999px;
    overflow: hidden;
}




