main h1{
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-family: Raleway-ExtraLight, sans-serif;
    font-size: 50px;
    border-bottom: 15px solid black;
    border-top: 15px solid red;
    border-radius: 40px;
    box-sizing: border-box;
}