/*@media (min-width: 320px) {

    .main-nav {
        width: 115px;
        height: 75px;
        display: flex;
        margin-left: auto;
        background-color: black;
        align-items: center;
    }



}*/
.main-nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: black;
}

.nav-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.sub-nav-list__item {
    display: flex;
    padding: 5px 10px;
    background-color: aqua;
}

.nav-list__link {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 5px;

}

.nav-list__link:hover,
.nav-list__link:active,
.nav-list__link:focus{
    background-color: #fff;
    color: black;
    transform: scale(1.1);
    transition: 0.1s linear;
}

@media screen and (max-width: 700px) {



    .nav-list {
        position: fixed;
        width: 100%;
        min-height: 425px;
        top: 75px;
        text-align: center;
        right: 0;
        padding: 20px 40px;
        box-sizing: border-box;
        background-color: black;

    }

    .nav-list__link {
        display: block;
        margin: 10px 0;
        color: red;

    }

}

.sub-nav-list {
    display: none;
}

.nav-list {
    display: none;
}

.active {
    display: block;
}
