.property-list {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.property-list__item {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 25px solid black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    border-bottom-right-radius: 25px;
}

.property-list__item h2,
.property-list__item p{
    margin-right: auto;
    padding-left: 25px;
}

.property-list__item a{
    margin-left: auto;
    padding-right: 25px;
}






