@media (min-width:320px){
	
/*modal form*/
.form-registr__wrapper{
	width: 260px;
	min-height:313px ;
	margin: 0 auto;
	font-size: 15px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 10px;
	right: 30px;
}

.form__title{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

.sandbox-title-form p{
	margin-top: 15px;
	text-align: left;
	padding-left: 15px;
	line-height: 20px;
	display: flex;
}

.sandbox-title-form label{
	font-size: 19px;
}

.sandbox-title-form input{
	width: 111px;
	margin-left: auto;
	margin-right: 23px;
	display: block;
}

.login-checkbox{
	display: inline-block;
	text-align: center;
	position: relative;
}


.check__input{
	appearance: none;
	-webkit-appearance: none;	
	margin: 0;
	width: 25px;
	height: 25px;
	margin-left: 15px;
	position: absolute;
}

.check__box{
	position: absolute;
	width: 21px;
	height: 21px;
	left: 118px;
	top: 0px;
	background-image: url(../v2__img/icon__checkbox--off.svg);
}

.check__input:checked + .check__box{
	background-image: url(../v2__img/icon__checkbox.svg);
}

.restore{
	width: 60px;
	margin-left: auto;
	margin-right: 25px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.form__submit{
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	margin: auto;
	background-color: white;
	border: 1 px solid black;
}

  /*sanbox example*/

	.post-example__wrapper{
		width: 320px;
		min-height: 150px;
		margin: 0 auto;
		margin-top: 25px;
		position: relative;
	}
	.post-example__wrapper h2{
		text-align: center;
	}
	.post-example{
		width: 252px;
		min-height: 100px;
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-top:  3px dotted black;
		border-bottom: 3px dotted black;
	}


	.user-data__wrapper{
		padding-top: 15px ;
		padding-bottom: 35px;
		margin:0 auto;
		display: flex;
		justify-content:space-around;
		position: relative;
	}
	.user-avatar{
		border: 1px dotted black;
	}
	.user-nikckname{
		margin: 0;
		font-size: 21px;
		display: flex;
		align-items: center;
	}
	
	.idea-content__wrapper{
		padding-bottom: 15px;
	}
	.idea-content__title{
		margin: 0;
		text-align: center;
		font-size: 28px;
	}

	.idea-content__content{
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 23px;
	}

	/*.idea-content__read-more{
		display: block;
		width: 125px;
		height: 25px;
		margin-left: auto;
		margin-right: 10px;
	}
	*/
	.post-cooperation__wrapper{
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 25px;
		display: flex;
		justify-content: flex-end;
	}

	.post-cooperation__comments{
		margin-left: 15px;
	}
	
	.idea-link__share{
		display:flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 30px;
		margin: 0 auto;
		border: 2px black solid;
	}

}

.display--none{
	display: none;
}