.slideshow-container{
    width: 200px;
    height: 350px;
    background-color: green;
    margin: 0 auto;
}
.slideShow-info, .slideShow-docs {
    position: absolute;
    padding: 5px 10px;
    background: rgba(0,0,0,.8);
    color: #fff;
}
.slideShow-docs {
    right: 0;
    text-align: right;
}
.slideShow-docs span {
    display: block;
}
.slideShow-wrapper {
    width:100%;
    height:100vh;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slideShow-wrapper video {
    object-fit: contain;
    width:100%;
    height:100%;
}
#slideShow-next, #slideShow-prev {
    position: absolute;
    top: 70px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    height: calc(100vh - 70px);
    background: rgba(0,0,0,.2);
    border: none;
    color: #fff;
    z-index: 10;
}
#slideShow-next.hidden, #slideShow-prev.hidden,#slideShow-autoplay.hidden {
    display: none;
}

#slideShow-autoplay {
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 2em;
    width: 5em;
    left: calc(50% - 2.5em);
    background: transparent;
    border: none;
    color: #fff;
    z-index: 10;
}
#slideShow-autoplay:focus {
    outline: 2px solid #fff;
}
#slideShow-next:focus, #slideShow-prev:focus {
    border: none;
    color: lime;
    outline: none;
}
#slideShow-next {
    right: 0;
}
.slideShow-wrapper[data-loaded=false]::after {
    content: 'loading';
    position: absolute;
    top: 3em;
    background: rgba(0,0,0,.8);
    padding: 5px 10px;
    font-size: 1.5em;
    z-index:10;
    color: #fff;
    transition: 200ms;
}