body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
 }

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #000;
}


@media (min-width:320px) {

	.resp {
	z-index: 100; 
	padding-left: 15px;
	color: black;
	text-decoration: none;
	font-family: monospace;
	font-size: 24px;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 25px;
	opacity: 1;
 }

.resp:hover,
.resp:active,
.resp:focus{
	opacity: 0.3;
	transition: opacity 0.2s ease-in-out;
 }

 
/*.line__color{
	display: none;
}*/

.line{
	z-index: -100;
	position: absolute;
	top: 19.5px;
	left: 5px;
	height: 2px;
	width: 60%;
}
.line__color{
	z-index: -100;
	position: absolute;
	background-color: black;
	width: 0px;
	height: 2px;
	animation: progres 2s infinite  linear;    
}
@keyframes progres{
	0%{
		width: 0%;
	}
	25%{
			width: 50%;
	}
	50%{
			width: 75%;
	}
	75%{
			width: 85%;
	}
	100%{
			width: 100%;
	}
};

.line:hover,
.line:active,
.line:focus{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
 }

 .resp__v2{
	display: block;
	text-decoration: none;
	color: black;
	font-weight: 200;
	font-size: 25px;
	font-family: sans-serif;
	padding-left: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
	.index-navigation__item{
		margin-top: 7px;
		margin-bottom: 25px;
	}

	.warning{
		display: none;
	}

	.warning--show{
		width: 200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		border: 5px solid black;
	}

	.warning--show::before{
		content: "";
		position: absolute;
		top: -51px;
		left: 8px;
		border: 18px solid transparent; 
		border-bottom: 29px solid black;
	}

.warning__close{
	position: absolute;
	right: 0;
	top: -1px;
	width: 27px;
	height: 27px;
	background-color:rgb(182, 21, 0);
	border: 0;
	cursor: pointer;
}

.warning__close::before,
.warning__close::after{
	content: "";
	position: absolute;
	top: 10px;
	left: 1px;
	width: 27px;
	height: 4px;
	background-color: black;
}
.warning__close::before{
	transform: rotate(45deg);
}
.warning__close::after{
	transform: rotate(-45deg);
}

	.warning__title{
		margin-top: 6px;
		margin-bottom: 0;
		font-family: sans-serif;
		font-size: 25px;
		line-height: 33px;
		text-align: center;
		text-transform: uppercase;
	}

	.warning__paragraph--first{
		margin-top: 14px;
		margin-bottom: 0;
		text-align: center;
		font-family: sans-serif;
		font-size: 21px;
		text-transform: uppercase;
	}

	.warning__paragraph--seconde{
		margin-top: 3px;
		margin-bottom: 42px;
		text-align: center;
		font-size: 16px;
		font-family: sans-serif;
	}


}