.property-list {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.property-list__item {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.property-list__item:first-child h2{
	margin-right: auto;
	padding-left: 50px;
	font-family:'Raleway-ExtraLight', sans-serif ;
	font-size: 30px;
	font-weight: 100;
}
.property-list__item:first-child p{
 	padding-top: 10px;
	margin-right:0 auto;
	text-align: center;
	line-height: 25px;
}

.property-list__item a{
    margin-left: auto;
    padding-right: 25px;
}






