.web__about-title{
	text-align: center;
}

.web__case-title,
.web__wish-title{
padding-left: 26px;
}

.web__about-paragraph{
	margin: 0;
	text-align: center;
	padding-right: 26px;
	padding-left: 25px;
}
.web__case-paragraph,
.web__wish-paragraph{
	text-align: right;
	padding-right: 26px;
	padding-left: 25px;
}
.skill-list{
display: grid;
grid-template-columns: auto auto auto;
	padding: 30px;
}

.skill-list__item{
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}



.wish-title{
	text-align: center;	
}

.wish-paragraph{
	text-align: center;
}

