.web__title{
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.web__paragraph-first{
	text-align: center;
}

.web__paragraph-seconde{
	text-align: center;
}

.skill-list{
display: grid;
grid-template-columns: auto auto auto;
	padding: 30px;
}

.skill-list__item{
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.wish-title{
	text-align: center;	
}

.wish-paragraph{
	text-align: center;
}
