@media (min-width: 320px) {

    header {
        width: 100%;
        min-height: 75px;
        position: relative;
        background-color: black;
				padding-bottom: 50px;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 0;
        left: 25px;
    }


}

@media (min-width: 320px) {

	header{
		padding-bottom: 0;
	}

}